body{
	background-image: url('/css/comedorPrueba.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: blue;
}
#card {
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  padding: 25px;
  background-color: #E8E8E8;
  transition: all 0.3s ease;
}
#titulo{
	text-align: center;
	color: #F226D9;
	text-shadow: 0.5px 1px 2px black;
}
#floatingInput{
	opacity: .8;
}
#password-field{
	opacity: .8;
}
.container {
	width: 500px;
}
.password-wrapper {
	position: relative;
}
.toggle-button {
	display: inline-flex;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: unset;
	right: 30px;
	cursor: pointer;
}
.eye-icon {
	width: 20px;
	height: 20px;
}
#botonLogin{
	width: 49%;
}
#botonProfe{
	width: 49%;
}
#botones{
	width: 100%;
	display: inline-block;
}