body {
	background: linear-gradient(135deg, #FA5EB1, #FF9FD1);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
	background: #ffffff;
	padding: 40px 30px;
	border-radius: 16px;
	box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
	text-align: center;
}
.card-body {
	padding: 25px;
}

.botones > div{
	margin: 10px;
}

input, select {
	max-width: 100%;
	width: 100%;
	border-radius: 8px !important;
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 15px;
	font-size: 1rem;
}
#center{
  color: white;
  background-color: #dc3545;
  border: none;
	display: block;
	margin: 0 auto;
}
#center:hover {
	background-color: #a71d2a;
}
