#center{
	display: block;
	margin: 0 auto;
}
.form-group{
	margin: 10px;
}
.botones{
	text-align: center;
}
.botones > div{
	margin: 10px;
}
@media(device-width <= 1000px){
	.container{
		display: block;
		margin: 100px auto;
	}
}
@media(device-width > 1000px){
	.container{
		display: block;
		margin: 200px auto;
	}
}