#meses{
    position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
    opacity: .9;
}
body{
    background-image: url('/css/comedorPrueba.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: blue;
}
table{
    width: 100%;
	margin: 70px 0px 20px 0px;
}
#calendario tbody tr td {
    width: 200px;
    height: 100px;
    opacity: .9;
    background-color: white;
}
#calendario thead tr th {
    text-transform: uppercase;
    text-align: center;
    height: 60px;
    opacity: .9;
    background-color: white;
}
#calendario thead tr td {
    text-transform: uppercase;
    height: 80px;
    text-align: center;
    border-radius: 30px 30px 0px 0px;
    background-color: #0d6efd;
    color: white;
    opacity: .9;
}
#calendario tbody tr td div input{
    vertical-align: middle;
    margin: 0px 0px 10px 20px;
}
#calendario tbody tr td div label{
    vertical-align: middle;
    margin: 0px 0px 10px 0px;
}
#calendario tbody tr td div h4, #calendario tbody tr td div p{
    margin: 0px 0px 10px 10px;
}
#calendario tbody tr td:nth-child(odd) {
    background-color: #E9E9E9;
}
#calendario thead tr th:nth-child(odd) {
    background-color: #E9E9E9;
}