.rating {
    display: inline-block;
}

.rating input {
    display: none;
}

.rating label {
    float: right;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
}

.rating label:before {
    content: '\2605';
    font-size: 100px;
}

.rating input:checked ~ label, .rating label:hover, .rating label:hover ~ label {
    color: #6f00ff;
    transition: color 0.3s;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

#plato{
    text-align: center;
    border-radius: 5px;
    font-size: 60px;
}