table{
	margin: 50px 0px 0px 0px;
}
#listado thead tr td {
    border: none;
    height: 70px;
    text-align: center;
    border-radius: 30px 30px 0px 0px;
    background-color: #0d6efd;
    color: white;
}
#listado thead tr th {
    border: 1px solid black;
    text-align: center;
}
#listado tbody tr td {
    border: 1px solid black;
    height: 40px;
    text-align: center;
}
#asistencias thead tr td {
    border: none;
    height: 70px;
    text-align: center;
    border-radius: 30px 30px 0px 0px;
    background-color: #0d6efd;
    color: white;
}
#asistencias thead tr th {
    border: 1px solid black;
    text-align: center;
}
#asistencias tbody tr td {
    border: 1px solid black;
    height: 40px;
    text-align: center;
}
#alumno.tipoMenu{
	background-color: #D0FA58;
}
#profesor.tipoMenu{
	background-color: #D0FA58;
}
#alumno{
	text-transform: uppercase;
	color: #2E75F1;
}
#profesor{
	text-transform: uppercase;
	color: #F14C2E;
}
