.form-group{
	margin: 10px;
}
.botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	align-items: center;
	margin: 5px;
}
#boton {
    margin: 10px;
    width: 150px;
    height: 150px;
}
#botonesDialog{
	margin: 10px;
}
.thumbnail {
	margin-bottom: 0px;
}
.container-2{
	max-width: 140px;
	float: left;
	padding-left:5px; 
	padding-right:5px; 
	padding-top:5px; 
	padding-bottom:5px;
}
.image-2 {
    min-height: 130px;
    position: relative;
}
.image-overlap-2 {
	background-color: white;
	border-radius: 5%;
	border: 0.5px solid black;
	position:absolute;
	width:100%;
	height:100%;
	min-height: 100%;
	min-width: 100%;
	text-align: center;
	margin:auto;
}
.image-overlap-2 img {
	margin: auto;
	display: block;
	opacity: 0.2;
	filter: alpha(opacity=20);
}
.bottom-overlap-2 {
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 40%;
	padding: 5px;
	text-align: center;
}
.image-overlap {
	background-color: white;
	border-radius: 5%;
	border: 0.5px solid black;
	position:absolute;
	width:100%;
	height:100%;
	min-height: 100%;
	min-width: 100%;
	text-align: center;
	margin:auto;
}
.image-overlap img {
	margin: auto;
	display: block;
}
.right-overlap p {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	text-align: left;
	margin: 45px 0px 0px;
}
.right-overlap {
	position: absolute;
	width: 20%;
	right: 0px;
	height:100%;
	min-height:100%;
	padding: 5px;
}
.transparent-back {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 1%, rgba(0, 0, 0, 0.4) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(1%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.4)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 1%, rgba(0, 0, 0, 0.4) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 1%, rgba(0, 0, 0, 0.4) 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 1%, rgba(0, 0, 0, 0.4) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 1%, rgba(0, 0, 0, 0.4) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000', endColorstr='#66000000', GradientType=0);
	color: #fff;
}
#listadoA {
	background-color: #ECF6CE;
	display: grid;
	grid-template-columns: repeat(auto-fill, 140px);
	align-items: center;
	justify-content: center;
}
#listadoZ {
  	background-color: #F2F2F2;
  	display: grid;
	grid-template-columns: repeat(auto-fill, 140px);
	align-items: center;
	justify-content: center;
}