#center{
	display: block;
	margin: 0 auto;
}
.form-group{
	margin: 10px;
}
nav{
	background-image: linear-gradient(180deg, #CD3997 0%, #92065F 100%);
}
#imagen{
	height: 60px;
	margin: 0px 0px 0px 10px;
}
body{
    background-image: url('/comedorv2/css/fondo_administrador.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: blue;
}
@media(device-width <= 1000px){
	.container{
		display: block;
		margin: 100px auto;
	}
}
@media(device-width > 1000px){
	.container{
		display: block;
		margin: 200px auto;
	}
