table, th, td {
  	border: 1px solid;
}
#meses{
	top: 0;
	right: 0;
	padding: 10px;
}
.dropdown-menu-scrollable {
	max-height: 200px;
	overflow-y: auto;
}
#clase{
	min-width: 50px;
	height: 70px;
}
#tablas{
	margin: 80px 0px 0px 0px;
	padding: 0px 10px 0px 10px;
}
#tablaClases{
	margin: 80px 0px 0px 20px;
	width: 95%;
}
nav{
	background-image: linear-gradient(180deg, #CD3997 0%, #92065F 100%);
}
#imagen{
	height: 60px;
	margin: 0px 0px 0px 10px;
}
body{
    background-image: url('/comedorv2/css/fondo_administrador.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: blue;
}